body {
    padding: 0;
    margin: 0;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.Title {
    color: white;
    padding: 3em;
    text-align: center;
}

.Title h1 {
    font-weight: 700;
    font-size: 6vw;
}




/*Title background color*/

.jumbotron {
    background-color: #3F4040;
}




/*The one who gave voice to millons*/

h2 {
    text-align: center;
    font-size: 3.5vw;
}




/*Add spaces between lines*/

p {
    line-height: 1.6em;
    text-align: justify;
}




/*Image*/

#image-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* align-content: flex-start; */
    align-items: center;
}

#image {
    width: 100%;
    height: auto;
}




/*Timeline columns*/

.timeline {
    padding: 1.5em 3.5em 0 3.5em;
}


.col-md-3,
.col-md-9 h3 {
    color: #3F4040;
    font-weight: 500;
}

.row {
    padding-bottom: 1.5em;
}

.card {
    background-color: #3F4040;
    color: white;
    width: 20rem;
}

.blockquote-footer {
    color: #f8f9fa;
}

.moreinfo {
    font-weight: 700;
    color: #3F4040;
}

.bottompage {
    text-align: center;
    color: white;
    font-weight: 500;
    background-color: #3F4040;
    padding: 2em;
    opacity: 0.7;
}