body {
    padding: 0;
    margin: 0;
}

.Title {
    color: white;
    padding: 7em;
    text-align: center;
}

.Title h1 {
    font-weight: 700;
}




/*Title background color*/

.jumbotron {
    background-color: #3F4040;
}


/*The one who gave voice to millons*/

.subtitle {
    letter-spacing: 8px;
    text-decoration: underline;
}

h2 {
    text-align: center;
}



/*Add spaces between lines*/

p {
    line-height: 1.6em;
}


/*Image*/

#image-div {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* align-content: flex-start; */
    align-items: center;
}


/*Timeline columns*/

.col-md-3,
.col-md-9 h3 {
    color: #3F4040;
    font-weight: 700;
}

.card {
    background-color: #3F4040;
    color: white;
}

.moreinfo {
    font-weight: 700;
    color: #3F4040;
}

.bottompage {
    text-align: center;
    color: white;
    font-weight: 500;
    background-color: #3F4040;
    padding: 2em;
    opacity: 0.7;
}